development:
  app_id: 'a'
  app_password: 'p'
  public_key: 'pk'
  production: false
production:
  app_id: 'a'
  app_password: 'p'
  public_key: 'pk'
  production: true
test:
  app_id: 'a'
  app_password: 'p'
  public_key: 'pk'
  production: false
