.top.full
  %i.icon-1
  Wybierz formę płatności i naciśnij
  %b 'Dalej'.

%ul.card-select.options
  %h2 Karty
  
  %li{data: { transfer: "cc" }}
    %a{data: { transfer: "cc" }}
      .visa{data: { transfer: "cc" }}
        %span VISA
        
  %li{data: { transfer: "cc" }}
    %a{data: { transfer: "cc" }}
      .mastercard{data: { transfer: "cc" }}
        %span MasterCard

  %li{data: { transfer: "cc" }}
    %a{data: { transfer: "cc" }}
      .american-express{data: { transfer: "cc" }}
        %span Amex

%ul.card-select.transfer-select.options
  %h2 Przelewy
  
  %li{data: { transfer: "espago" }}
    %a{data: { transfer: "espago" }}
      .visa{data: { transfer: "espago" }}
        %span Espago
        
  %li{data: { transfer: "pbn" }}
    %a{data: { transfer: "pbn" }}
      .visa{data: { transfer: "pbn" }}
        %span PayByNet
  
#espago-card-form
  %header
    %a.close{title:"Zmień metodę płatności"} x
  %hr
  #espago-form-holder.hidden
    = render partial: 'form'
  #cc-form-holder.hidden
    = render partial: 'cc_form'
  #pbn-form-holder.hidden
    = render partial: 'pbn_form'

  .clearfix 
.actions
  .terms
    %input#espago-terms{type:"checkbox", value: "false"}
    %label{for: "terms"} Akceptuje warunki regulaminu Espago (TOS)
  / .next
  /   %a.button
  /     %span Dalej
    